.recommendations-content {
  h5 { margin-bottom: 15px; }

  .media-recommendations {
    margin-bottom: 30px;
  }

  .media-browse { margin-bottom: 0; }
  .media-browse .media-grid .poster-wrapper {
    width: 25%;
    &.is-disabled { opacity: 0.3; }
  }

  .recommendation-actions {
    margin-top: 10px;
    .want-to-watch { float: right; }
    .rate-button {
      color: $body-text-color;
      background-color: lighten($secondary-cta-color, 10);
    }
    .button {
      padding: { left: 15px; right: 15px; }
    }
    .not-interested {
      margin-top: 5px;
      a {
        font-size: 14px;
        color: $body-secondary-text-color;
        &:hover { color: $body-link-color; }
      }
    }
  }
}

.recommendations-sidebar {
  max-width: 320px;
  padding: 0;
  .card {
    padding: 20px;
  }
  .profile-strength {
    .strength-header {
      font-size: 20px;
      font-weight: bold;
    }
    .strength-percent {
      float: right;
      font-size: 20px;
      font-weight: bold;
      color: $body-link-color;
    }
  }
  .rate-media-cta {
    display: flex;
    justify-content: center;
    padding: { top: 15px; bottom: 15px; }
    margin: { top: 10px; bottom: 10px; left: -20px; right: -20px; }
    background-color: $divider-color;
  }
  .category-recommendations {
    .category-header {
      font-weight: bold;
    }
    .category-list-item {
      padding: 10px 0px;
      border-bottom: 1px solid $divider-color;
      &:last-child { border-bottom: none; }
      .media-count { float: right; }
    }
  }
  .recommenations-help {
    p {
      color: $body-secondary-text-color;
      font-size: 14px;
    }
  }
}

#recommendations-rate-modal {
  .modal-content {
    background-color: transparent;
    border: 1px solid $divider-color;
    border-radius: 15px;
    color: $divider-color;
    .close {
      color: $divider-color;
      font-size: 36px;
      opacity: 1;
    }

    .recommendation-modal-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .media-taste {
        font-size: 12px;
        font-weight: bold;
        .taste-text {
          text-transform: uppercase;
        }
        .taste-percent {
          float: right;
          color: $rating-star-color;
        }
        progress {
          margin: 0;
          height: 4px;
          margin-top: 4px;
          &::-webkit-progress-value {
            background-color: $rating-star-color;
          }
        }
      }

      .media-poster {
        position: relative;
        img { width: 270px; }
        .poster-overlay {
          background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 100%);
          background-size: auto 300%;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      .media-meta {
        position: relative;
        bottom: 80px;
        font-weight: bold;

        > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .media-title > a {
          color: $white;
        }
      }

      .rate-actions {
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .rate-icons {
          svg {
            width: 80px;
            height: 80px;
          }
          .simple-rating-wrapper {
            &[data-type='awful'], &[data-type='great'] {
              vertical-align: top;
              top: -15px;
            }
            &[data-type='meh'], &[data-type='good'] {
              svg {
                width: 100px;
                height: 100px;
              }
            }
          }
        }

        .next-action > button {
          color: $divider-color;
          margin-top: 10px;
          &:hover {
            color: $body-text-color;
          }
        }
      }
    }
  }
}
